extends layout

block content
	h1 MMP
	.row
		.col-md-10.col-xs-12
			#temperatureGraph(style='min-width: 110px; height: 200px; margin: 0 auto')
		.col-md-2.col-xs-12
			#temperatureGauge(style='min-width: 110px; max-width: 200px; height: 200px; margin: 0 auto')

	.row
		.col-md-10
			#humidityGraph(style='min-width: 110px; height: 200px; margin: 0 auto')
		.col-md-2
			#humidityGauge(style='min-width: 110px; max-width: 200px; height: 200px; margin: 0 auto')
	.row
		.col-md-10
			#coGraph(style='min-width: 110px; height: 200px; margin: 0 auto')
		.col-md-2
			#coGauge(style='min-width: 110px; max-width: 200px; height: 200px; margin: 0 auto')

	.row.footerbackground
		h2.col-md-4.footerText Web site code
			br
			a(href='https://gitlab.com/miquelgraells/MMP.git')
				img(src='images/gitlab.png',  style='width:50px; height:50px')

