html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: #00B7FF;
}

img {
    display: block;
    margin: 0 auto;
    margin-top: 10px
}

.footerbackground {
    background-color: #2c2b29;
	position: fixed;
    width: 110%;
    height: 100px;
    bottom: 0;
    left: 0;
}

.footerText {  
  text-align: center;
  font-size: 17px;
  line-height: 20px;  
  color: #fff;
}